<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Custom CSS -->

    <link rel="stylesheet" href="/css/descripcion-emprendimiento.css" type="text/css">
    <script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="anonymous"></script>
    <title>Index</title>
  </head>

  <body>
    <div id="contenedor-pagina">
      <nav id="navbar-android">
        <div id="icono-desplegable">
          <i id="menu_icono" class="fas fa-bars"></i>
        </div>
      </nav>
      <div class="opciones-menu" id="menu_side">
        <ul>
          <a href="#"><li>Inicio</li></a>
          <a href="#"><li>Emprendimientos</li></a>
          <a href="#"><li>Quiero promocionar mi emprendimiento</li></a>
          <a href="#"><li>Iniciar sesion</li></a>
        </ul>
      </div>
      <nav id="navbar">
          <div class="container-fluid">
            <div class="row">
              <div class="col-3 col-navbar">
                <H1>LOGO</H1>
              </div>
              <div class="col-2 col-navbar">
                <a href="#">inicio</a>
              </div>
              <div class="col-2 col-navbar">
                <a href="#">emprendimientos</a>
              </div>
              <div class="col-3 col-navbar">
                <a href="#">quiero promocionar mi emprendimiento</a>
              </div>
              <div class="col-2 col-navbar">
                <div id="iniciar-sesion-buttom">
                  <a href="/login">Iniciar Sesion</a>
                </div>
              </div>
            </div>
          </div>
      </nav>
      <div id="descripcion-pyme">
            <div id="fotos-perfil">
                <div id="imagen-principal">

                </div>
                <div id="imagenes-secundarias">
                    <div class="imagen-secundaria">
                    </div>
                    <div class="imagen-secundaria">
                    </div>
                    <div class="imagen-secundaria">
                    </div>
                    <div class="imagen-secundaria">
                    </div>

                </div>


            </div>
            <div id="descripcion-perfil">
              <div id="nombre-emprendimiento">
                  <h2><%= pyme[0].Nombre_pyme %></h2>
              </div>
              <div id="categorias-emprendimiento">
                  <div class="categoria">
                    <p><%= pyme[0].categorias %></p>
                  </div>
                  <div class="categoria">
                    <p>tag</p>
                  </div> 
                  <div class="categoria">
                    <p>tag</p>
                  </div>                    
                </div>
              <div id="datos-emprendimiento">
                <div class="dato">
                  <ul>Direccion</ul>
                  <ul>Fanpage de instagram</ul> 
                  <ul>Tienda virtual y/o fisica</ul>
                  <ul>Correo</ul>
                  <ul>numero de Telefono</ul> 
                  
                </div>
                <div class="dato">
                  <ul><%= pyme[0].calle  %> <%= pyme[0].numero %></ul>
                  <ul><%= pyme[0].Instagram %>aa</ul>                  
                  <ul><%= pyme[0].tipoTienda %></ul>
                  <ul><%= pyme[0].Correo %></ul>
                  <ul><%= pyme[0].Telefono %></ul>
                                                   
                </div>                                                                  
              </div>
              <div id="descripcion-emprendimiento">
                <p><%= pyme[0].Descripcion %></p>
              </div>
              
              <div id="botones-redireccion">
                <div class="boton-redireccion">
                  <a href="<%= pyme[0].Whatsapp %>">Whatsapp</a>
                </div>
                <div class="boton-redireccion">
                  <a href="<%= pyme[0].Instagram %>">Instagram</a>
                </div>
                <div class="boton-redireccion">
                  <a href="<%= pyme[0].Facebook %>">Facebook</a>
                </div>
              </div>
              <div id="botones-filtro">
                <div class="boton-redireccion-pagina">
                  <a href="<%= pyme[0].Sitio_web %>">Pagina web</a>
                </div>
              </div>
            </div>
      </div>

    </div>
      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="../public/js/nav-horizontal-move.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="../public/js/socket.js"></script>
    <script>
      socket = io()

      socket.on("actualizar", (usuarios_conectados, visitas) => {
          //document.getElementById("n-usuarios-conectados").innerHTML = usuarios_conectados
          //document.getElementById("n-visitas").innerHTML = visitas
      })
  </script>
  </body>
</html>


