<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="anonymous"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/edit-perfil-usuario.css" type="text/css">
    <title>Editar perfil usuario</title>
  </head>
  <body>

    <nav class="nav-vertical" id="menu_side">
      <div id="div-menu-icono">
        <i id="menu_icono" class="fas fa-bars"></i>
      </div>

      <div id="opciones-menu">

        <a href="/user/<%= usuario[0].Rut%>">
          <div class="opcion">
            <i class="fa-solid fa-chart-line"></i>
            <h4>Estadísticas</h4>
          </div>
        </a>
        <a href="https://api.whatsapp.com/send?phone=967691029&text=Hola,%20necesito%20ayuda%20en%20el%20formulario%20de%20inscripci%C3%B3n.">
          <div class="opcion">
            <i class="fa-solid fa-circle-question"></i>
            <h4>Encuesta</h4>
          </div>
        </a>

        
      </div>
    </nav>
    <div id="contenido">
      <nav id="horizontal">
        <div id="usuario">
          <div id="usuario-texto">
            <div id="bloque-usuario-texto">
              <a id="Administrador" href="#">Usuario</a>
            </div>
            <div id="bloque-usuario-texto">
              <a id="Account" href="#">Account settings</a>
            </div>
          </div>
          <div id="foto-usuario">
            <div id="div-foto">
              
            </div>
          </div>
        </div>
      </nav>
      <div id="datos-del-usuario">
        <div class="columna-datos">
          <div id="editar-perfil-encabezado">
            <h2>Editar mi perfil</h2>
          </div>
          <form  action="/updateuser/<%= usuario[0].Rut%>" method="post">
              <INPUT class="datos-editar-perfil" type="text" name="Nombre_pyme" value="<%= usuario[0].Nombre_pyme%>" placeholder="Nombre Pyme">
              <INPUT class="datos-editar-perfil" type="text" name="Horario" value="<%= usuario[0].Horario%>" placeholder="Horario">
              <INPUT class="datos-editar-perfil" type="text" name="Sitio_web" value="<%= usuario[0].Sitio_web%>" placeholder="Sitio web">
            
        </div>
        <div class="columna-datos">
          <div id="editar-perfil-encabezado">
          </div>
          <INPUT class="datos-editar-perfil" type="text" name="Facebook" value="<%= usuario[0].Facebook%>" placeholder="Facebook">
          <INPUT class="datos-editar-perfil" type="tel" name="Whatsapp" value="<%= usuario[0].Whatsapp%>" placeholder="Whatsapp">
            <INPUT class="datos-editar-perfil" type="text" name="Instagram" value="<%= usuario[0].Instagram%>" placeholder="Instagram">
          
        </div>
        <div class="columna-datos">
          <div id="editar-perfil-encabezado">
          
          </div>
          <div id="fotos-perfil">
            <a id="imagen-principal" href="#">
              <div id="imagen-principal">

              </div>
            </a>
            <div id="imagenes-secundarias">
              <a href="#" class="imagen-secundaria">
              </a>
              <a href="#" class="imagen-secundaria">
              </a>
              <a href="#" class="imagen-secundaria">
              </a>
              <a href="#" class="imagen-secundaria">
              </a>

            </div>
          </div>
          <div id="boton-seleccionar-imagen">
            <button class="subirArchivo">Subir imágenes</button>
          </div>
        </div>
        
      </div>
      <INPUT id="descripcion" type="text" rows="5" cols="40" name="Descripcion" value="<%= usuario[0].Descripcion%>" placeholder="<%= usuario[0].Descripcion%>" >

      <div id="imagenes-formulario">
               
        <div id="botones-enviar-formulario">
          <button type="submit" id="registrarse" value="Submit">Editar</button>
          <button id="cancelar">Cancelar</button>
          
        </div>
        
      </div>
    </form>
      <div class="titulo-adjuntar">
        <h2>Comentario de Moderador</h2>
        <div id="comentario-moderador">
          <p>sadsad</p>
        </div> 
        </div>
        
      </div>
    </div> 
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="/js/nav-vertical-move.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>